@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;200;300;400&display=swap");
@import "../mixin";
@import "../var";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
html {
  font-size: 62.5%;
}

.container {
  max-width: 86%;
  margin: auto;
}

.home-wrapper {
  @include size;
  height: 100vh;
  background: url("../../images/mobile/image-hero.jpg") no-repeat center
    center/cover;
}

// this is the home area css

.h-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  padding-top: 4rem;
  @include flexProp(space-between, center);

  .n-logo {
    z-index: 5;
    img {
      width: 13rem;
    }
  }
  .nav-menu {
    z-index: 5;
  }
}

// this is for navbar menu links
// when user open menu

#n-links {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    color: $white;
    list-style: none;
    padding: 2rem;

    li {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 300;
      font-family: "Josefin Sans", sans-serif;
      line-height: 6rem;
      cursor: pointer;
    }
  }
}

.h-content {
  width: 100%;
  height: 90%;
  @include flexProp(center, center);

  p {
    @include headings(3.55rem);
    width: 100%;
    color: hsl(0deg, 0%, 100%);
    border: 2px solid hsl(0deg, 0%, 100%);
    padding: 2.6rem;
    margin-bottom: 6rem;
  }
}

// this is the section area css

.s-one {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  @include flexProp(center, center);
}

.s-container {
  & > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 0;
  }
}

.left-div {
  width: 100%;
  // margin-top: 7rem;
  .s-img {
    width: 100%;
    img {
      width: 100%;
    }
    // background: url("/images/mobile/image-interactive.jpg") no-repeat center
    //   center/cover;
  }
}

.right-div {
  width: 100%;

  .s-content {
    text-align: center;
    .heading {
      @include headings(3rem);
    }
    p {
      font-size: 1.4rem;
      margin-top: 1rem;
      line-height: 2rem;
      color: hsl(0deg, 0%, 55%);
      padding: 1rem;
    }
  }
}

// this is creation section css

.creation-wrapper {
  width: 100%;
  height: max-content;
}
.creation-container {
  height: 100%;
  gap: 2rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.c-heading {
  width: 100%;
  order: 1;
  text-align: center;
  h1 {
    @include headings(3rem);
  }
}
.btn {
  width: 100%;
  order: 3;
  text-align: center;
  button {
    font-family: "Alata", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    outline: 1px solid black;
    border: none;
    text-transform: uppercase;
    background-color: #ffffff00;
  }
}

.list {
  width: 100%;
  margin-top: 2rem;
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-container {
  width: 100%;
  height: 100%;
  @include flexProp(flex-start, flex-end);
  &:hover {
    background-color: rgba(255, 255, 255, 0.651);
    h4 {
      color: black;
    }
  }
  div {
    margin: 0 0 2rem 2rem;
    h4 {
      @include headings(2.2rem);
      color: $white;
      cursor: default;
    }
  }
}
.card {
  width: 100%;
  height: 11rem;
  position: relative;
}

// these id's are for card background image

#one {
  background: url("../../images/mobile/image-deep-earth.jpg") no-repeat center
    center/cover;
}
#two {
  background: url("../../images/mobile/image-night-arcade.jpg") no-repeat center
    center/cover;
}
#three {
  background: url("../../images/mobile/image-soccer-team.jpg") no-repeat center
    center/cover;
}
#four {
  background: url("../../images/mobile/image-grid.jpg") no-repeat center
    center/cover;
}
#five {
  background: url("../../images/mobile/image-from-above.jpg") no-repeat center
    center/cover;
}
#six {
  background: url("../../images/mobile/image-pocket-borealis.jpg") no-repeat
    center center/cover;
}
#seven {
  background: url("../../images/mobile/image-curiosity.jpg") no-repeat center
    center/cover;
}
#eight {
  background: url("../../images/mobile/image-fisheye.jpg") no-repeat center
    center/cover;
}

// this is the footer section

footer {
  width: 100%;
  height: max-content;
  background-color: $black;
}
.f-container {
  height: 100%;
  padding: 5rem 0;
  @include flexProp(center, center);
  flex-direction: column;
  gap: 4.4rem;
}
.f-left {
  @include flexProp(center, center);
  flex-direction: column;
  gap: 3.8rem;

  img {
    height: 2.4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    color: $darkGray;
    font-size: 1.4rem;
    text-transform: capitalize;
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      &:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
      }
    }
  }
}

.f-right {
  @include flexProp(center, center);
  flex-direction: column;
  gap: 0rem;
}
.social-media {
  @include flexProp(center, center);
  gap: 1.6rem;
  img {
    padding: 1.6rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}

.copyright {
  color: white;
  p {
    font-size: 1.4rem;
    color: $veryDarkGray;
    line-height: baseline;
    padding: 1.6rem 0;
  }
}
// common class to use

.hide {
  display: none;
}
.fade {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.fade.show {
  opacity: 1;
}
